
a {
    text-decoration: none;
    color: #E5E7EB;
}

header, footer, main{
    background-color: #1F2937;
    display: flex;
    align-content: center;
    justify-content: center;
}

main{
    padding-bottom: 8%;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10%;
}

.header-link{
    font-size: 18px;
    margin-left: auto;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    padding: 0 12px;
}

.sign-up{
    padding: 5px 15px;
    background-color: #3882F6;
    border-radius: 5px;
}

.image-placeholder{
    background-color: rgb(138, 138, 156);
    display: flex;
    flex-shrink: 0;
    height: 280px;
    width: 480px;
    margin-right: 10%;
    margin-top: 10%;
}

h4 {
    color: rgb(250, 234, 234);
    align-self: center;
    flex: auto;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
}
.secondary{
    font-size: 18px;
    color: #E5E7EB;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
}

ul{
    display: flex;
    padding: 0;
    margin: 0;
}


.item{
    height: auto;
    width: auto; 
    padding: 100px;
    margin: 12px;
    border-radius: 10px;
    list-style-type: none;
    border: 2px solid rgb(56, 56, 187);
    height: 400px;
    display: flex;
}

.gallery{
    background-color:floralwhite;
    align-items: center;
    padding-bottom: 8%;
    /* justify-content: space-between; */
}

.gallery-heading{
    display: flex;
    justify-content: center;
}
h2{
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    align-content: center;
    justify-content: center;
}

.subtext{
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 5px;
}

img, .item{
    width: 10%;
    height: auto;
    justify-content: space-between;
}

.img-txt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    text-align: center;
}

.container{
    background-color: #E5E7EB;
    color:#1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
}

.text{
    text-align: center;
    margin: 0 10%;
    padding: 10%;
    padding-bottom: 10px;
    font-style: italic;
}
.author{
    text-align: end;
    margin: 0 10%;
    padding-bottom: 10%;
    font-weight:bold;
}